/*Color 1: #011627
Color 2: #F71735
Color 3: #393E41
Color 4: #EAF4F4
Color 5: #FFFFFF*/

body {
	font-family: 'Roboto Mono', monospace;
	color: #000000;
}

.marked-h1 {
  display: block;
	position: relative;
	top: -23px;
	left: 20px;
	z-index: -1;
	background-color: #FFFF00;
	width: inherit;
	height: 27px;
}

@media only screen and (max-width: 993px) {
    .hidden-marked-md {
        display: none;
    }
}

.outer-marked-h1 {
	display: inline-block;
}

section {
  margin: 20px 0px 50px 0px;
}

.top-wrapper {
  height: 100vh;
	padding-top: 40vh;
}

.top-wrapper-head {
	padding-top: 20vh;
	display: inline-block;
}

.arrow-down-header {
   width: 55px;
   position: relative;
   margin-left: 44%;
   margin-top: -60px;
}

.project {
  background-color: grey;
  height: 250px;
}

