body {
  font-family: 'Roboto Mono', monospace;
  color: #000000;
  background-color: #f9f9f9;
}

.marked-h1 {
  display: block;
  position: relative;
  top: -23px;
  left: 20px;
  z-index: -1;
  background-color: #FFFF00;
  width: inherit;
  height: 27px;
}

.external-link {
  width: 28px;
  float: right;
  margin-right: 10px;
}

.outer-marked-h1 {
  display: inline-block;
}

section {
  margin: 20px 0px 50px 0px;
}

.top-wrapper {
  height: 100vh;
  padding-top: 40vh;
}

.top-wrapper-text {
  font-size: 2.6rem;
}

@media only screen and (max-width: 337px) {
  .top-wrapper-text {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 282px) {
  .top-wrapper-text {
    font-size: 1.5rem;
  }
}

.top-wrapper-head {
  padding-top: 20vh;
  display: inline-block;
}

.arrow-down-header {
  width: 55px;
  margin: -65px auto 0px auto;
}

/* .project {
  margin: 10px 0px 40px 10px;
}
 */

/* .project:hover .project-info-box {
  margin-top: -100px;
  height: 140px;
} */

.project-info-box {
  background-color: white;
  padding: 5px;
  height: 40px;
  width: 100%;
  box-shadow: 0px -16px 54px -16px rgba(64, 64, 64, 1);
  position: relative;
  z-index: 10;
  transition: all 0.15s ease-in-out;
}

.project-info-text {
  /*   display: table-cell;
  vertical-align: middle; */
  padding-left: 20px;
  display: inline;
}

.project-text {
  display: inline;
}

/* .project-info-icons-box {
  display: inline;
  padding-left: 10px;
  font-size: 24px;
}

.project-info-icons {
  float: right;
  display: inline;
  margin-right: 20px;
  margin-top: 5px;
} */

.project-flip {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 10px 0px 40px 10px;
}

.project-flip:hover .flip,
.project-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.project-flip,
.front,
.back {
  width: 100%;
  height: 340px;
}

.flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 20px;
}

.project-text-back {
  overflow-y: scroll;
  height: 250px;
  margin: 0px;
}

.project-img {
  width: 100%;
}

.social-icons ion-icon {
  font-size: 32px;
  padding-top: 10px;
}

.social-icon {
  display: table;
}

.social-icon-text {
  display: inline;
  display: table-cell;
  vertical-align: middle;
  padding-left: 9px;
  position: relative;
  top: -5px;
}

.social-icon-text h6 {
  display: inline;
}

.social-icon-logo {
  display: inline;
}