body {
  font-family: 'Roboto Mono', monospace;
  color: #000000;
}

.marked-h1 {
  display: block;
  position: relative;
  top: -23px;
  left: 20px;
  z-index: -1;
  background-color: #FFFF00;
  width: inherit;
  height: 27px;
}

.outer-marked-h1 {
  display: inline-block;
}

section {
  margin: 20px 0px 50px 0px;
}

.top-wrapper {
  height: 100vh;
  padding-top: 40vh;
}

.top-wrapper-text {
  font-size: 2.6rem;
}

@media only screen and (max-width: 337px) {
  .top-wrapper-text {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 282px) {
  .top-wrapper-text {
    font-size: 1.5rem;
  }
}

.top-wrapper-head {
  padding-top: 20vh;
  display: inline-block;
}

.arrow-down-header {
  width: 55px;
  margin: -65px auto 0px auto;
}

.project {
  margin: 10px 0px 40px 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.project:hover .project-info-box {
  margin-top: -100px;
  height: 140px;
}

.project-info-box {
  background-color: white;
  /*   display: table; */
  height: 40px;
  width: 100%;
  box-shadow: 0px -16px 54px -16px rgba(64, 64, 64, 1);
  position: relative;
  z-index: 10;
  transition: all 0.15s ease-in-out;
}

.project-info-text {
  /*   display: table-cell;
  vertical-align: middle; */
  padding-left: 20px;
  display: inline;
}

.project-text {
  display: inline;
}

.project-info-icons-box {
  display: inline;
  padding-left: 10px;
  font-size: 24px;
}

.project-info-icons {
  float: right;
  display: inline;
  margin-right: 20px;
  margin-top: 5px;
}

/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
  height: 100%;
}

/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}

.social-icons {
  font-size: 32px;
}